<div class="center jumbotron">
  <h1>Welcome to the Youngster Official</h1>

  <h3>
     Its an official Site of Youngster</h3>
   <h2> <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  

<%= link_to "Subscribe channel!", '#', class: "btn btn-lg btn-primary" %>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

</div>
<%= link_to image_tag("kitten.jpg", alt:"kitten image") %>
<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'https://www.youtube.com/channel/UCCjKxA4Qba5pTKbBl58dXBw' %>


