<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/"><b>Youngster Fotball club </b></a>
    by <a href="http://www.michaelhartl.com/"><b>Contect to manager</b></a>
  </small>
  <nav>
    <ul>
      <%= link_to "Log out", logout_path, method: :delete %>
       <li><%= link_to "About", about_path %> </li>
         <li><%= link_to "Contact", contact_path %> </li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
       
    </ul>
  </nav>
</footer>

